* {
  margin: 0;
  padding: 0;
  border-radius: border-box;
  font-family: 'Roboto Mono', monospace;
  justify-content: center;
}

.app {
  text-align: center;
}

.app__navbar {
  background-color: #078fff;
  color: white;
  padding: 15px;
  text-align: center;
}

.app__linkBox {
  padding: 20px;
}

.app__linkBox input {
  padding: 20px;
  width: 80%;
  font-size: 20px;
  border-radius: 8px;
}

.container-ul {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.container-ul li {
  display: inline;
  align-items: center;
}

.container-ul ul li{
  padding: 0px 15px 0px 15px;
}

a:hover{
  cursor: pointer;
}

a:active {
  color: black;
}

a:visited {
  color: black;
}

a {
  font-size: 16px;
  text-decoration: none;
  font: bold;
  color: black;
}